<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
          <span [class.text-white]="true">Video App</span>
          <div>
            <button mat-icon-button class="mr-2" *ngIf="userService.user.isAuth">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon (click)="handleClick()">menu</mat-icon>
            </button>
          </div>
        </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
