<div class="contact-form w-100 mt-4">
  <form [formGroup]="formGroup"
        class="row flex-column w-100 justify-content-center align-items-center">
    <div class="col-12">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Message</mat-label>
        <text-area matInput placeholder="Password" formControlName="message"></text-area>
      </mat-form-field>
    </div>
    <div class="col-12">
      <button mat-raised-button color="primary" [disabled]="formGroup.invalid">Submit</button>
    </div>
  </form>
</div>
