<mat-card class="video-card text-left mb-1">
  <mat-card-title>
    {{video.title}}
  </mat-card-title>
  <mat-card-subtitle>
    Created at: {{video.createdAt}}
  </mat-card-subtitle>
  <img mat-card-image [src]="video.path"/>
  <mat-card-content>
    {{video.description.slice(0, 40)}}
  </mat-card-content>
  <mat-card-actions class="w-100 d-flex justify-content-center">
    <button class="video-card__btn"
            mat-flat-button color="primary"
            (click)="handleClick()">
      View
    </button>
  </mat-card-actions>
</mat-card>
