<app-section-layout title="Profile"
                    cssClass="profile">
  <div class="profile__layout">
    <div class="profile__user-img">
      <mat-card class="w-100 h-100">
        <img src="/assets/profile.svg"/>
      </mat-card>
    </div>
    <div class="profile__user-info">
      <mat-card class="w-100 text-left h-100">
        <mat-card-title class="mb-4 text-center mat-h4">
          User info
        </mat-card-title>
        <mat-card-content>
          <ng-container *ngIf="showEditControls">
            <form [formGroup]="form">
              <div>
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Username</mat-label>
                  <input matInput placeholder="Username" formControlName="username"/>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password" formControlName="password"/>
                </mat-form-field>
              </div>
              <div>
                <button mat-flat-button
                        color="primary"
                        (click)="saveUserChanges()"
                        [disabled]="form.invalid || form.untouched">Save changes</button>
              </div>
            </form>
          </ng-container>
          <ng-container *ngIf="!showEditControls">
            <div>
              <mat-list dense>
                <mat-list-item>
                  <span class="mat-subheading-1">Username: </span> {{user.username}}
                </mat-list-item>
                <mat-list-item>
                  <span class="mat-subheading-1">Password: </span> {{user.password}}
                </mat-list-item>
              </mat-list>
            </div>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="profile__actions w-100 text-left">
      <div class="w-100 h-100">
        <mat-card class="h-100">
          <mat-card-subtitle>
            Actions
          </mat-card-subtitle>
          <mat-card-content>
            <div class="grid-auto">
              <button color="accent" mat-flat-button (click)="videosByUser()">View videos</button>
              <button color="warn" mat-flat-button (click)="deleteUserProfile()">Delete the profile</button>
              <button color="primary" mat-flat-button (click)="changeUserInfo()">Change the user's info</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="profile__videos-count w-100">
      <mat-card class="h-100">
        <mat-card-title class="mat-h1">
          {{totalVideoCount}}
        </mat-card-title>
        <mat-card-title>
          The count of videos
        </mat-card-title>
      </mat-card>
    </div>
  </div>
</app-section-layout>
