.profile__layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1.25rem;
}

.profile__videos{
  grid-column: 1/-1;
}

.profile__user-img {
  grid-column: span 4;
}

.profile__user-info {
  grid-column: span 8;
}

.profile__actions {
  grid-column: span 7;
}

.profile__videos-count {
  grid-column: span 5;
}

.profile__view-videos-btn button {
  width: 100%;
  padding: 10px;
}

.blur {
  filter: blur(33px);
}
