jdbc.driverClassName=com.mysql.cj.jdbc.Driver
jdbc.url=jdbc:mysql://remotemysql/*****
jdbc.username=*******
jdbc.password=*******
hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
hibernate.show_sql=false
