<app-section-layout title="{{'Find what you really like!' | uppercase}}"
                    description="Using our app, you can find what you really like"
                    cssClass="home">
  <div heading>
    <button mat-raised-button color="primary" class="mt-3">
      Learn more
    </button>
  </div>
</app-section-layout>
<app-section-layout title="{{'Our users' | uppercase}}"
                    description="There are millions of people who uses our app"
                    cssClass="users">

</app-section-layout>
<app-section-layout title="{{'Contact us' | uppercase}}"
                    description="Don't hesitate to contant us"
                    cssClass="contact">
  <app-contact-form></app-contact-form>
</app-section-layout>

