@import "../../../variables";

.home {
  background-color: $light_color;

  h1, .home__description{
    color: white;
  }
}

.home__heading {
  backdrop-filter: blur(4px); /* Размываем фон */
  background: rgba(255,255,255,0.4); /* Белый фон с полупрозрачностью */
  width: 800px; /* Ширина блока */
  padding: 20px;
}
