<app-section-layout title="{{'Find what you really like!' | uppercase}}"
                    description="Using our app, you can find what you really like"
                    cssClass="home">
  <div heading>
    <button mat-raised-button color="primary" class="mt-3">
      Learn more
    </button>
  </div>
</app-section-layout>

<app-section-layout title="{{'Our latest videos' | uppercase}}"
                    description="Watch latest videos for free"
                    cssClass="videos">
</app-section-layout>

<app-section-layout title="{{'We are trusted by millions' | uppercase}}"
                    description="Million of people uses our app on daily basis"
                    cssClass="trust">

</app-section-layout>

<app-section-layout title="{{'Contact us' | uppercase}}"
                    description="Don't be afraid to contact us"
                    cssClass="contact">

</app-section-layout>
