@import "../../../variables";

.home {
  background-color: $light_color;

  h1, .home__description{
    color: white;
  }

  .home__description {
    font-style: normal;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0;
    text-rendering: geometricPrecision;
    text-transform: none;
    text-decoration: none;
    font-size: 18px;
  }
}

.home__heading {
  backdrop-filter: blur(4px); /* Размываем фон */
  background: rgba(255,255,255,0.4); /* Белый фон с полупрозрачностью */
  width: 800px; /* Ширина блока */
  padding: 20px;
}
