@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~bootstrap/scss/bootstrap';
@import './variables';

*{
  font-family: 'Montserrat', sans-serif;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  border-radius: 0px !important;
  font-weight: 700;
  min-width: 140px;
}

.mat-card{
  padding: $space_unit*2 !important;
}

.mat-h1, .mat-headline, .mat-typography h1 {
  font-family: inherit;
  font-size: 4.375rem;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 4.5rem;
}

button {
  border-radius: 23px !important;
}

.wrap{
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: $space_unit * 6 $space_unit * 3 $space_unit * 2;
}

.app-mat-list{
  min-width: 300px;
}
